# === Node.js comunes ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Archivos de entorno (no subir nunca)
.env
.env.*
!.env.example

.DS_Store

# === Frontend ===
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env
frontend/.env.local
frontend/.DS_Store

# === Backend ===
backend/node_modules/
backend/dist/
backend/.env
backend/.env.local
backend/.DS_Store
backend/coverage/
backend/logs/
backend/debug.log

# === Lambda ===
lambda/node_modules/
lambda/.env
lambda/.DS_Store
lambda/temp/
lambda/output.pdf
lambda/package-lock.json
lambda/dist/
lambda/coverage/

# === Archivos del sistema ===
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# === IDEs / editores ===
.vscode/
.idea/
*.iml

# === AWS y despliegue ===
.aws/
*.zip
*.pem
*.key
credentials
config

# === Build outputs generales ===
dist/
build/
out/
.cache/
